$textTitleh1:#ffffff;
$textSelection:#ff4e33;
$btnBackground:#e3ac00;
$mainBackground:#21232e;
$cardBackground:#3b3f50;
$textBlock:#c0c3ce;
$gradStart:#dea406;
$gradEnd:#96324f;
$cardTxtTitle:#ffffff;
$fonts: (
    font: Source Sans Pro,
    fontLogo: Fresca
);
$headDayBg:'../img/m-h-night.jpg';
@mixin button {
    width: 140px;
    height: 43px;
    color: $mainBackground;
    background: $btnBackground;
    border: none;
    border-radius: 3px;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 700;
    &:hover{
        cursor: pointer;
    }
}
@mixin mainLink {
    color: $mainBackground;
    font-family: map-get($fonts, font);
    font-size: 16px;
    font-weight: 600;
}
